<h1>{{title}}</h1>
<h2>{{greeting}}</h2>
<div class="container">
    <div class="row">
        <div id="Filters" class="col-3 border border-primary">
            <div class="row">
                Filters
            </div>
            <div class="row">
                <div>Range:</div>
                <div>
                    <input type="number" name="distance" placeholder="10"> Miles of
                    {{#if this.searchRecord}}
                        <input type="text" name="city" placeholder="City" value="{{this.searchRecord}}">
                    {{else}}
                        <input type="text" name="city" placeholder="City" value="">
                    {{/if}}                  
                </div>
            </div>
            <div class="row">
                <div>Availibility:</div>
                <div><input type="date"> to <input type="date"></div>
            </div>
            <div class="row">
                <div>Price Per Day</div>
                <div>$<input type="number"> to $<input type="number"></div>
            </div>
        </div>
        <div id="dockingTerminals" class="col-6 border border-primary">
            <div class="row">
                <div>Docking Terminals</div>
                <div><button type="button" id="search" class="btn btn-primary">Search</button></div>
            </div>
            <div class="row">
                <ul style="list-style-type: none;" class="col-12">
                    {{#each dockingTerminals}}
                    <li class="row">
                        <div class="col-auto">
                            <div>{{this.name}}</div>
                        </div>
                        <div class="col-2">
                            <div>Dates</div>
                        </div>
                        <div class="col-2">
                            <span>Cost: </span><span>{{this.cost}}</span>
                        </div>
                        <div class="col-2 btn btn-primary">
                            <button>Register</button>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div id="Registered" class="col-3 border border-primary">
            <div class="row">Registered Docks</div>
            <div class="row">
                <ul style="list-style-type: none;">
                    {{#each registeredDocks}}
                    <li><button type="button" class="btn btn-primary">{{this.name}}</button></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("search").addEventListener("click", function(event) {
        //console.log(document.getElementsByName("city")[0].value);  //unit test
        var cityName = document.getElementsByName("city")[0].value;
        var url = "/filterInterface/search"
        if (cityName != null && cityName != undefined && cityName != "")
              url = url + "?" +  "cityName=" + cityName.trim(); 
        window.location = url;
    });
</script>
