<div class="container h-100">
    <div class="row h-10">
        <h1 class="col-12">
            Utilities Status
        </h1>
    </div>
    <div class="row h-90">

        <div id="electricity" class="col-4 m-1 p-2 border border-dark">
            {{#with electricity}}
            <div class="row">
                <h2 class="col-12">
                    Electricity
                </h2>
            </div>
            <div class="row">

                <div class="col-6 statSymbol" data-current={{current}} data-max={{max}} style="visibility:hidden;">Bar
                    Chart</div>
                <div class="col-6 statData">{{current}}/{{max}}</div>

            </div>
            <div class="row">
                <div class="col-12">
                    <button class="toggleStatus" data-current={{saverStatus}}>Save</button>
                    <div>Energy Saving mode</div>
                </div>
            </div>
            {{/with}}
        </div>
        <div id="water" class="col-4 m-1 p-2  border border-dark">
            <div class="row">
                <h2 class="col-12">
                    Water
                </h2>
            </div>
            <div class="row">
                <div class="col-6 statSymbol" style="visibility:hidden;" data-current={{water.current}}
                    data-max={{water.max}}>Bar Chart</div>
                <div class="col-6 statData">{{water.current}}/{{water.max}}</div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <button class="toggleStatus" data-current={{water.saverStatus}}>Save</button>
                </div>
                <div class="col">
                    <div>Water Saving mode</div>
                </div>
            </div>
        </div>
        <div id="wifi" class="col-4 m-1 p-2  border border-dark">
            <div class="row">
                <h2 class="col-12">
                    Wifi
                </h2>
            </div>
            <div class="row">
                <div class="col-6 statSymbol" style="visibility:hidden;" data-current={{wifi.current}}
                    data-max={{wifi.max}}>
                    wifi symbol
                </div>
                <div class="col-6 statData">
                    <div>
                        info
                    </div>
                    <div>
                        <button class="toggleStatus" data-current={{wifi.status}}>on/off</button>
                    </div>
                </div>
            </div>

        </div>
        <div id="lights" class="col-4 m-1 p-2 border border-dark">
            <div class="row">
                <h2 class="col-12">
                    Lights
                </h2>
            </div>
            <div class="row">
                <div class="col-auto statSymbol" style="visibility:hidden;" data-current={{lights.status}}>
                    <button class="toggleStatus">on/off</button>
                </div>
                <div class="col statSymbol">
                    info
                </div>
                <div class="col-auto statSymbol">
                    {{lights.status}}
                </div>
            </div>

        </div>
        <div id="door" class="col-2 m-1 p-2 border border-dark">
            <div class="row">
                <h2 class="col-12">
                    Door Lock
                </h2>
            </div>
            <div class="row">
                <div class="col-12 statSymbol" style="visibility:hidden;">
                    <button class="toggleStatus" data-current={{door.locked}}>on/off</button>
                </div>
            </div>

        </div>
        <div id="room" class="col-6 m-1 p-2 border border-dark">
            <div class="row">
                <h2 class="col-12">
                    Room Settings
                </h2>
            </div>
            <div class="row">
                <div class="col-auto statSymbol" style="visibility:hidden;" data-current={{room.bed}}>
                    <button class="toggleStatus">on/off</button>
                </div>
                <div class="col-auto">
                    dropDown
                </div>

            </div>
            <div class="row">
                <div class="col-auto statSymbol" style="visibility:hidden;" data-current={{room.table}}>
                    <button class="toggleStatus">on/off</button>
                </div>
                <div class="col-auto">
                    dropDown
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    $(function () {
        var UtilityList = ["electricity", "water", "wifi", "lights", "door", "room"];
        UtilityList.forEach((uName) => {
            var utility = $("#" + uName + " .statSymbol");
            var currVal = utility.attr("data-current");
            var maxVal = utility.attr("data-max");
            if (currVal && maxVal) {
                console.log(uName + ": " + currVal + "/" + maxVal);
            }
        var toggle = $("#" + uName + " .toggleStatus");
        var state = toggle.attr("data-current");
        if (state) {
                console.log(uName + " toggle: " + state);
            }
            //take this data and change the state of the buttons
        //and create graphs/ symbols

        
        })
        

    });
</script>