<div class="container h-100">
    <div class="row h-10">
        <h1 class="col-12">
            Utilities Status
        </h1>
    </div>
    <div class="row h-90">

        <div id="electricity" class="col-4 p-2 border border-dark">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Electricity
                    </h2>
                </div>
            </div>
            <div class="row" style="height: 20px;">
                <div class="col-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{electricity.current}}%;" aria-valuenow={{electricity.current}}
                            aria-valuemin="0" aria-valuemax="{{electricity.max}}" style="width: %">{{electricity.current}}%
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Energy Saving:</h4>
                </div>
                <div class="col-auto">
                    <span class="state">Off</span>
                </div>
                <div class="col-auto">
                    <label class="switch">
                        <input type="checkbox" {{#if electricity.saverStatus}}checked{{/if}} data-toggle="toggle" data-on="On" data-off="Off" data-style="ios" data-height="20" data-width="100">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <span class="state">On</span>
                </div>
            </div>
        </div>


        <div id="water" class="col-4 p-2  border border-dark">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Water
                    </h2>
                </div>
            </div>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: {{water.current}}%;" aria-valuenow={{water.current}}
                    aria-valuemin="0" aria-valuemax={{water.max}}>{{water.current}}%</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Water Saving:</h4>
                </div>
                <div class="col-auto">
                    <span class="state">Off</span>
                </div>
                <div class="col-auto">
                    <label class="switch">
                        <input type="checkbox" {{#if water.saverStatus}}checked{{/if}} data-toggle="toggle" data-on="On" data-off="Off" data-style="ios" data-height="20" data-width="100">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <span class="state">On</span>
                </div>
            </div>
        </div>
        <div id="wifi" class="col-4 p-2  border border-dark">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Wifi
                    </h2>
                </div>
            </div>
            <img src="..\..\public\images\wifi.png">
            <div class="row">
                <div class="col-auto">
                    <span class="state">Off</span>
                </div>
                <div class="col-auto">
                    <label class="switch">
                        <input type="checkbox" {{#if wifi.status}}checked{{/if}}>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <span class="state">On</span>
                </div>
            </div>

        </div>
        <div id="lights" class="col-4 p-2 border border-dark">
        <div class="row">
            <div class="col-12">
                <h2>
                    Lights
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <span class="state">Off</span>
            </div>
            <div class="col-auto">
                <label class="switch">
                    <input type="checkbox" {{#if lights.status}}checked{{/if}}>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-auto">
                <span class="state">On</span>
            </div>
        </div>

    </div>
    <div id="door" class="col-4 p-2 border border-dark">
        <div class="row">
            <div class="col-12">
                <h2>
                    Door Lock
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <span class="state ">Unlocked</span>
            </div>
            <div class="col-auto">
                <label class="switch">
                    <input type="checkbox" {{#if door.locked}}checked{{/if}}>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-auto">
                <span class="state">Locked</span>
            </div>

        </div>

    </div>
    <div id="room" class="col-6 p-2 border border-dark">
        <div class="row">
            <div class="col-12">
                <h2>
                    Room Settings
                </h2>
            </div>
        </div>
        <div class="row">
            {{!-- <div class="col-auto statSymbol" style="visibility:hidden;" data-current={{room.bed}}>
                    <button class="toggleStatus">on/off</button>
                </div> --}}
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Table
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            {{!-- <div class="col-auto statSymbol" style="visibility:hidden;" data-current={{room.table}}>
                <button class="toggleStatus">on/off</button>
            </div> --}}
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bed
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</div>


</div>
<script>
    $(function () {
        var UtilityList = ["electricity", "water", "wifi", "lights", "door", "room"];
        UtilityList.forEach((uName) => {
            var utility = $("#" + uName + " .statSymbol");
            var currVal = utility.attr("data-current");
            var maxVal = utility.attr("data-max");
            if (currVal && maxVal) {
                console.log(uName + ": " + currVal + "/" + maxVal);
            }
            var toggle = $("#" + uName + " .toggleStatus");
            var state = toggle.attr("data-current");
            if (state) {
                console.log(uName + " toggle: " + state);
            }
            //take this data and change the state of the buttons
            //and create graphs/ symbols


        })


    });
</script>